:root {
	--background-color: #f7f9fc;
	--primary-color: #588dff;
	--secondary-color: #977dff;
	--white-color: #ffffff;
	--black-color: #000000;

	--font-size: 16px;
	--font-family: 'Helvetica Neue', 'Helvetica, Arial', 'Lucida Grande';
	--font-weight: normal;
	--font-color: #000000;
}
