.root {
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;

	background-color: var(--white-color);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;

	&__logo {
		height: 70%;

		cursor: pointer;
	}

	&__link {
			display: flex;
			justify-content: center;
			align-items: center;

			/* font-size: 1.8rem; */
			/* font-weight: 600; */
			color: var(--primary-color);
		}
}
