@import './styles/index.scss';

html,
body,
#root {
	height: 100%;
}

body,
#root {
	background-color: var(--background-color);

	font-size: var(--font-size);
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	color: var(--font-color);
}

.app {
}
